<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" th:href="@{/css/templatemo-digimedia-v1.css}">
  <<link rel="stylesheet" th:href="@{/css/students.css}">

</head>
<body>
<header class="header-area" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">

          <ul class="nav">
            <li class="scroll-to-section"><a th:href="@{/HomePage.html}" class="active">Accueil</a></li>
            <li class="scroll-to-section"><a th:href="@{/students}">Etudiants</a></li>
            <li class="scroll-to-section"><a th:href="@{/schools}">Ecoles</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>

        </nav>
      </div>
    </div>
  </div>
</header>

<div class="filters-area-filters-button-container" >
  <a th:href="@{/students}"  class="button button-left"><button id="buthome1" >Liste des étudiants</button></a>
</div>
<div class="filters-area-filters-button-container">
  <a th:href="@{/schools}"  class="button button-left" ><button id="buthome2">Liste des écoles</button></a>
</div>



</body>
</html>
<script th:src="@{/javascript/filters.js}"></script>